
</div>
<div class="footer-padding"></div>
  <div class="footer" id="footer">
    <p>Made with ❤️ By <a class="foot" href="https://github.com/Kritika30032002">Kritika Gupta</a></p>
  </div>
</div>
</body>
</html>
