<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">

<div class="topnav" id="Topnav">
  <div>
  <p class="navbar-brand">DAILY JOURNAL</p>
</div>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="toggle()">
    <i class="fa fa-bars"></i>
  </a>
</div>

</head> 
<body>
  <div class="container">

    <!-- Function to handle toggling of navbar -->
    <script>
function toggle() {
  var x = document.getElementById("Topnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
  

