node_modules/
.env
.env.example

logs/
*.log

pids/
*.pid
*.seed
*.pid.lock

lib/
bin/
build/

data/
mongod.lock

*.ejs

.vscode/
.idea/
.sublime
*.swp
*.swo
*.swn
*.bak
*.orig

favicon.ico

.DS_Store

Thumbs.db
