<%- include("partials/header"); -%>

      <div class="container-fluid" id="mainarea">
    <div class="images2">
        <img src="https://internetdevels.com/sites/default/files/public/blog_preview/404_page_cover.jpg" width="650rem" height="470rem" style="margin-left: 70%;">
    </div>
</div>

<%- include("partials/footer"); -%>
