<%- include("partials/header"); -%>

<div class="container1">
    <div class="left-content1">
        <h1 class="heading1">About Us</h1>
    </div>
    <div class="right-content1">
        <p class="paragraph_tag1"><%= blog2 %></p>
        <h3>Join us today and embark on a blogging adventure!</h3>
    </div>
</div>

<%- include("partials/footer"); -%>
