<%- include("partials/header"); -%>

<div class="container">
    <div class="left-content">
        <h1 class="heading">About Me</h1>
    </div>
    <div class="right-content">
        <p class="paragraph_tag"><%= blog2 %></p>
    </div>
</div>

<%- include("partials/footer"); -%>
