<%- include("partials/header"); -%>

<div class="container">
    <div class="left-content">
        <h1 class="heading">About Us</h1>
    </div>
    <div class="right-content">
        <p class="paragraph_tag"><%= blog2 %></p>
        <h3>Join us today and embark on a blogging adventure!</h3>
    </div>
</div>

<%- include("partials/footer"); -%>
