<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<%- include("partials/header"); -%>
<h1>Compose</h1>

<form class="" action="/compose" method="post" novalidate onsubmit="return validateForm();">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="newTitle" required>

    <label>Post</label>
    <textarea class="form-control" name="newBlog" rows="5" cols="30" required></textarea>
    <div id="editor"></div>
  </div>

  <button class="btn btn-primary" type="submit" name="submit">Publish</button>
</form>

<%- include("partials/footer"); -%>

<script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
<script>
	ClassicEditor
		.create( document.querySelector( '#editor' ) )
		.catch( error => {
			console.error( error );
		} );
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  
  function validateForm() {
    var title = document.querySelector('input[name="newTitle"]').value;
    var post = document.querySelector('textarea[name="newBlog"]').value;
    
    if (title.trim() === '' || post.trim() === '') {
      
      Toastify({
        text: "Title and Post cannot be empty",
        duration: 3000, 
        gravity: "top", 
        position: "center", 
        backgroundColor: "red", 
      }).showToast();
     
      return false;
    }
    return true;
  }
</script>
