<%- include("partials/header"); -%>
<main style="margin-top: 10px">
  <section class="contact contact-default" id="contact">
    <h2
      style="
        font-size: 27px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #1abc9c;
      "
    >
      Contact Us
    </h2>
    <p>
      If you have any questions or concerns, please don't hesitate to contact
      us. You can reach us by filling out the form below:
    </p>

    <form action="/contact" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        id="name"
        required
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        "
      />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        id="email"
        required
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        "
      />

      <label for="message">Message:</label>
      <textarea
        id="message"
        name="message"
        rows="4"
        id="message"
        required
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: #000;
        "
      ></textarea>

      <button
        type="submit"
        id="send_button"
        style="
          background-color: #1abc9c;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        "
      >
        Send Message
      </button>
    </form>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  var btn = document.getElementById("send_button");
  btn.addEventListener("click", function (e) {
    var name = document.getElementById("name").value;
    var email = document.getElementById("email").value;
    var message = document.getElementById("message").value;
    e.preventDefault();
    Email.send({
      Host: "smtp.elasticemail.com",
      // Please create account on 
      // https://app.elasticemail.com/api/create-account?_gl=1%2Ad8ieqx%2A_up%2AMQ..%2A_ga%2AMTczMDgzODM4NS4xNzEwNjg0OTY4%2A_ga_9GFVDHZ5M5%2AMTcxMDY4NDk2Ni4xLjAuMTcxMDY4NDk2Ni4wLjAuMA..&r=20b444a2-b3af-4eb8-bae7-911f6097521c
      // and get a username and password. Add them here to allow recieval of emails 
      Username: "username_smtp",
      Password: "generate_from_smtp_server",


      To: "kritikagupta3003@gmail.com",
      From: `${email}`,
      Subject: `Blog Website Issue By: ${name}`,
      Body: `<br><br> ${message} <br><br> <strong>Name:<\strong> ${name} <br> <strong>Email:<\strong> ${email}`,
    })
      .then(async (message) => {
        if (message == "OK") {
          await Swal.fire({
            title: "Success!",
            text: "Message Sent Successfully!",
            icon: "success",
            background: "#1A1A1A",
            color: "#fff",
            customClass: "swal-size-sm",
          });
        } else {
          await Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Something went wrong!",
            background: "#1A1A1A",
            color: "#fff",
            customClass: "swal-size-sm",
          });
        }
      })
      .then(async (res) => {
        await window.location.reload();
      });
  });
</script>
<%- include("partials/footer"); -%>
