<!-- <link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<div
  class="container text-center my-4"
  style="
    color: aliceblue;
    background-color: black;
    position: absolute;
    top: 33vh;
    left: 23vw;
    width: 49vw;
    height: auto;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
  "
  id="y1"
>
  <%= error1 %>
</div>
<button
  class="btn"
  onclick="window.location.href='/'"
  style="
    color: black;
    background-color: aqua;
    position: absolute;
    top: 73vh;
    left: 43vw;
  "
>
  HOMEEE
</button>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script>
  Toastify({
    text: document.getElementById("y1").innerText,
    duration: 3000,
    gravity: "top",
    position: "center",
    backgroundColor: "red",
  }).showToast();
</script> 
-->


<div align="center">
  <img src="error.svg" height="80%" />
  <br/>
  <br/>
  <br/>
  <a href="/" style="background-color: #2C3A47; color: white; padding: 1rem;font-weight: 800;text-decoration: none;border-radius: 5px;margin-top: 5em;font-family: 'Times New Roman', Times, serif;">HOME</a>
</div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    let error = <%- JSON.stringify(error1.message) %> 
    Swal.fire({
    icon: "error",
    title: error,
    text: "Something went wrong!",
  });
  </script> 