<%- include("partials/header"); -%>
<main style="margin-top: 10px">
  <section id="contact" class="contact">
    <h2
      style="
        font-size: 27px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #1abc9c;
      "
    >
      Sign Up
    </h2>

    <form action="/signup" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        "
      />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        "
      />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter password"
        required
        minlength="5"
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        "
        oninput="checkPasswordStrength(this.value)"
      />
      <span id="passwordStrength"></span>

      <button
        type="submit"
        style="
          background-color: #1abc9c;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        "
      >
        Sign Up
      </button>
    </form>
  </section>
  <script>
    function checkPasswordStrength(password) {
      var passwordStrength = document.getElementById("passwordStrength");
      var strength = 0;

      // Check password length
      if (password.length >= 8) {
        strength += 1;
      }

      // Check for uppercase letters
      if (/[A-Z]/.test(password)) {
        strength += 1;
      }

      // Check for lowercase letters
      if (/[a-z]/.test(password)) {
        strength += 1;
      }

      // Check for numbers
      if (/[0-9]/.test(password)) {
        strength += 1;
      }

      // Check for special characters
      if (/[^A-Za-z0-9]/.test(password)) {
        strength += 1;
      }

      // Update password strength indicator
      if (strength == 0) {
        passwordStrength.innerHTML = "";
      } else if (strength <= 2) {
        passwordStrength.innerHTML = "Weak";
        passwordStrength.style.color = "red";
      } else if (strength <= 4) {
        passwordStrength.innerHTML = "Medium";
        passwordStrength.style.color = "orange";
      } else {
        passwordStrength.innerHTML = "Strong";
        passwordStrength.style.color = "green";
      }
    }
  </script>
</main>

<%- include("partials/footer"); -%>
