<%- include("partials/header"); -%>
<main style="margin-top: 10px">
  <section id="contact" class="contact">
    <h2
      style="
        font-size: 27px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #1abc9c;
      "
    >
      Sign Up
    </h2>

    <form action="/signup" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        "
      />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        "
      />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter password"
        required
        minlength="5"
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: black;
        "
      />

      <button
        type="submit"
        style="
          background-color: #1abc9c;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        "
      >
        Sign Up
      </button>
    </form>
  </section>
  <button id="google-box">SignUp with&nbsp;&nbsp;&nbsp;<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/800px-Google_2015_logo.svg.png></button>
</main>
<br>
<br>
<br>
<br>
<script defer type="module">
 
 import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
import { getAuth, GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-auth.js";

const firebaseConfig = {
  //config
};

const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
auth.languageCode = 'en';
const provider = new GoogleAuthProvider();

document.addEventListener('DOMContentLoaded', function() {
  const googleLogin = document.getElementById("google-box");
  if (googleLogin) {
    googleLogin.addEventListener("click", function() {
      signInWithPopup(auth, provider).then((result) => {
        const credential = GoogleAuthProvider.credentialFromResult(result);
        const user = result.user;
        console.log(user);
        window.location.href = "./home.ejs";
      }).catch((error) => {
        const errorCode = error.code;
        const errorMessage = error.message;
      });
    });
  } else {
    console.error("Element with ID 'google-box' not found.");
  }
});

const user = auth.currentUser;

  function updateUserProfile(user) {
    const userName = user.displayName;
    const userEmail = user.email;
    const userProfilePicture = user.photoURL;
    console.log(userEmail)

    document.getElementById("userName").textContent = userName;
    document.getElementById("userEmail").textContent = userEmail;
    document.getElementById("userProfilePicture").src = userProfilePicture;
  }

  onAuthStateChanged(auth, (user) => {
    if(user) {
        updateUserProfile(user);
        const uid = user.uid;
        return uid;
    } else {
        alert ("Create Account & login");
        window.location.href = "/register.html";
    }
  });

updateUserProfile();

</script>

<%- include("partials/footer"); -%>
