<%- include("partials/header"); -%>
<main style="margin-top: 10px">
  <section id="contact" class="contact">
    <h2
      style="
        font-size: 27px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #1abc9c;
      "
    >
      Sign In
    </h2>

    <form action="/signin" method="post">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: #000;
        "
      />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        placeholder="Enter password"
        name="password"
        required
        minlength="5"
        style="
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: #000;
        "
      />

      <button
        type="submit"
        style="
          background-color: #1abc9c;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        "
      >
        Sign In
      </button>
    </form>
  </section>
</main>

<%- include("partials/footer"); -%>
