body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4; /* Set your desired background color */
  transition:
    background-color 0.5s,
    color 0.5s;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  width: 100%;
  transition:
    background-color 0.5s,
    color 0.5s;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
  transition: color 0.5s ease-in-out;
}
.navbar-nav li a::before {
  content: "";
  position: absolute;
  background: #1abc9c;
  width: 80%;
  height: 4px;
  left: 10%;
  bottom: 15px;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.navbar-nav li a:hover::before {
  transform: scaleY(1);
  bottom: 15px;
  width: 80%;
}

/* Make the navbar-brand text bold */
.navbar-brand {
  font-weight: 800;
  font-size: 24px;
}

.compose {
  margin: 20px;
  padding: 15px;
  font-size: 20px;
}

.compose:hover {
  background-color: #1abc9c;
}

.compose a {
  color: black;
  text-decoration: none;
  color: #fff;
}

.footer {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
  transition:
    background-color 0.5s,
    color 0.5s;
}

.footer p,
.foot {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.main-content {
  font-size: 24px;
}

.post-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.post-content {
  font-size: 18px;
  color: #555;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 100px;
  color: blue;
}

.card-title-header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
  color: #555;
  padding: 15px;
}
.card-text {
  margin-left: 60px;
}
.btn-primary {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #169c7f;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

.navbar.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

.footer.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

#dark-mode-toggle {
  list-style: none;
  display: flex;
  gap: 10px;
}

.dark-mode-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease;
}

.dark-mode-button:hover {
  transform: scale(1.1);
}

.sun-icon {
  display: block;
}

.moon-icon {
  display: none;
}

body.dark-mode .sun-icon {
  display: none;
}

body.dark-mode .moon-icon {
  display: block;
}
