body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    width: 100%;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

/* Make the navbar-brand text bold */
.navbar-brand {
  font-weight: 800;
  font-size: 24px;
}

.compose{
  margin: 20px;
  padding: 15px;
  font-size: 20px;
}

.compose:hover{
  background-color: #1abc9c;
}
.compose a{
  color: black;
}

.footer {
	text-align: center;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p ,.foot{
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* styles.css */
.main-content {
  font-size: 24px; /* Adjust the value to your desired font size for the main content */
}

.post-title {
  font-size: 24px; /* Adjust the value to your desired font size for post titles */
}

.post-content {
  font-size: 18px; /* Adjust the value to your desired font size for post content */
}
