body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4; /* Set your desired background color */
  transition:
    background-color 0.5s,
    color 0.5s;
}

.grid {
  display: grid;
}
.grid-columns-3 {
  grid-template-columns: auto auto auto;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}
.px-1 {
  padding-inline: 10px;
}
.px-2 {
  padding-inline: 20px;
}
.px-3 {
  padding-inline: 30px;
}

.nav1 {
  display: flex;
  justify-content: space-between;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 2px;
  width: 100%;
  transition:
    background-color 0.5s,
    color 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 25px;
  color: #565555;
  background: none;
  border: none;
  background-color: rgba(99, 99, 99, 0.3);
  border-radius: 4px;
  padding: 2px;
  height: 50%;
  margin-top: 7px;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu a {
  text-decoration: none;
  font-size: 18px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;

  transition: color 0.5s ease-in-out;
}

.active-nav-item {
  color: #1abc9c !important;

  transition: color 0.5s ease-in-out;
}

@media (max-width: 746px) {
  .menu {
    display: none;

    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(70, 69, 69, 0.95);
    z-index: 1;
  }

  .menu.show {
    display: flex;
    margin-top: 50px;
    border-radius: 3px;
  }
  .menu li a {
    text-align: center;
  }
  .menu-toggle {
    display: block;
    text-align: center;
  }
  .navbar-brand {
    text-align: center;
  }
  .menu-toggle.show {
    display: block;
  }
  #toogleicon {
    position: absolute;
    right: 20px;
  }
  .navbar-logo {
    position: absolute;
    left: 15px;
  }
}
.navbar-nav li a::before {
  content: "";
  position: absolute;
  background: #1abc9c;

  width: 100%;
  height: 4px;
  left: 10%;
  bottom: 15px;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.navbar-nav li a:hover::before {
  transform: scaleY(1);
  bottom: 15px;
  width: 80%;
}
/* Make the navbar-brand text bold */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  padding-left: 120px;
}
.logo-brand {
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  width: 100px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  background-image: url("Black_logo.png"); /* Replace with the path to your image */
  background-size: contain;
  background-repeat: no-repeat;
  color: #555;
}
.compose {
  margin: 20px;
  padding: 15px;
  font-size: 20px;
}

.compose:hover {
  background-color: #1abc9c;
}

.compose a {
  color: black;
  text-decoration: none;
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #1abc9c;
  transition:
    background-color 0.5s,
    color 0.5s;
}

.footer p,
.foot {
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
}

.footer a {
  margin-left: 10px;
}

.main-content {
  font-size: 24px;
}

.post-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.post-content {
  font-size: 18px;
  color: #555;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 100px;
  color: blue;
}

.card-title-header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
  color: #555;
  padding: 15px;
}
.card-text {
  margin-left: 60px;
}
.btn-primary {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #169c7f;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

.navbar.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

.footer.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

#dark-mode-toggle {
  list-style: none;
  display: flex;
  gap: 10px;
}

.dark-mode-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease;
}

.dark-mode-button:hover {
  transform: scale(1.1);
}

.sun-icon {
  display: block;
}

.moon-icon {
  display: none;
}

body.dark-mode .sun-icon {
  display: none;
}

body.dark-mode .moon-icon {
  display: block;
}
.popup_class {
  width: 400px;
}
.swal-size-sm {
  width: 600px !important;
  font-size: 2rem;
}

@media screen and (max-width: 992px) {
  #unorderlist {
    display: none;
  }
  #toogleicon {
    display: block;
  }
  .menu {
    display: none;

    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(70, 69, 69, 0.95);
    z-index: 1;
  }
  .menu.show {
    display: flex;
    margin-top: 50px;
    border-radius: 3px;
  }
  .menu li a {
    text-align: center;
  }
  .menu-toggle {
    display: block;
    text-align: center;
  }
  .navbar-brand {
    text-align: center;
  }
  .menu-toggle.show {
    display: block;
  }
}
.contact {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact.dark-mode {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.36);
}
