.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

/* Make the navbar-brand text bold */
.navbar-brand {
  font-weight: 800;
  font-size: 24px;
}

.compose{
  margin: 20px;
  padding: 15px;
  font-size: 20px;
}

.compose:hover{
  background-color: #1abc9c;
}
.compose a{
  color: black;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p ,.foot{
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
